*{
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Fjalla One', sans-serif;

}
header {
    height:50px;
    width:100%;
    background: rgb(105, 118, 136);
    display: flex;
    align-items: center;


}

section.s1-home {
    width: 100%;
    height:400px;
    background: rgb(105, 118, 136);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

section.s2-why {
    width:100%;
    height:380px;
    color: rgb(24,31,41);
    text-align:center;
}

section.s3-visit {
    background: rgb(220,223,226);
    color: rgb(24,31,41);
    text-align: center;
}

section.s3-left, section.s3-right{
    float:left;
    background: rgb(220,223,226);
    width:50%;
    border: 1px solid black;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.s4-volunteer {
    width:100%;
    color: black;
    height: 500px;
    clear:both;
    text-align: center;
}

footer{
    background: rgb(24,31,41);
    height: 125px;
    width:100%;
    clear:both;
}

header li {
    float:left;
    list-style-type: none;
    color:white;
    margin-right: 7%;
    font-size: 2rem;
}

li#menubars{
    display:none;
}
header ul {
    display: flex;
    flex-direction: row;
    width: 30%;
}

header > img {
    float:left;
    height: 30px;
    margin-left:20%;
    margin-right:auto;
}
header > a {
    float:left;
    align-items: center;
    background: white;
    font-weight: bold;
    color: rgb(105, 118, 136);
    margin-right: 3%;
    border: 2px solid white;
    height:30px;
    font-size:2rem;
    border-radius:5%;
    display: flex;
    align-content: center;
    padding:.5%;
}

.s1-home h1{
    width: 75%;
    font-size:6.5rem;
    margin-top: 0px;
    padding-top: 7%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(241,241,241);
    margin-bottom: 1%;

}

.s1-home h2{
    width: 75%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    color: rgb(241,241,241);
    font-size: 2rem;
    font-weight: lighter;
}

.s1-home span {
    font-size: 2rem;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3%;
}

h3{
    font-weight: bold;
    font-size: 3rem;
    padding-top: 5%;
    margin-top: 0px;
}

p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding-bottom: 5%;
    font-family: 'Fjord One', serif;

}

section.blankimg{
 width: 55%;
 background: rgb(105, 118, 136);
 height: 300px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 7%;
}

.content a {
    border: 2px solid rgb(105, 118, 136);
    padding-top: 1%;
    padding-bottom:1%;
    padding-left: 3%;
    padding-right: 3%;
    font-size:2rem;
}

@media screen and (max-width: 1225px){
    header {
        height:50px;
        width:100%;
        background: rgb(105, 118, 136);
        display: flex;
        align-items: center;
    
    }
    
    header li {
        font-size: 1rem;
        margin-left:-1rem;
        margin-right: 2%;
        display: none;
    }

    li#menubars{
        display:block;
    }

    .s1-home h1{
        width: 90%;
        font-size:3rem;
        margin-top: 0px;
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: rgb(241,241,241);
    
    }
    
    .s1-home h2{
        width: 90%;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        color: rgb(241,241,241);
        font-size: 1.5rem;
    }

    h3{
        font-weight: bold;
        font-size: 2rem;
        padding-top: 5%;
        margin-top: 0px;
    }
    
    p {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
        padding-bottom: 5%;
        margin-bottom: 0px;
    }   

    section.s3-left, section.s3-right{
        float:left;
        background: rgb(220,223,226);
        width:50%;
        border: 1px solid black;
        height: 500px;
    
    }
    
    section.blankimg{
        width: 55%;
        background: rgb(105, 118, 136);
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
       }
    
       s1-home span {
        margin-bottom: 3%;
       }

       section.s2-why {
        width:100%;
        height:inherit;
        color: rgb(24,31,41);
        text-align:center;
    }

    section.s4-volunteer {
        width:100%;
        color: black;
        height: 300px;
        clear:both;
        text-align: center;
    }

    s4-volunteer a {
        margin-bottom:3%;
    }
}

@media screen and (max-width:900px) {
    section.s3-left, section.s3-right{
        background: rgb(220,223,226);
        width:100%;
        border: 1px solid black;
        height: inherit;
        padding-bottom: 3%;
    
    }

    section.blankimg{
        width: 55%;
        background: rgb(105, 118, 136);
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
       }
       
       section.s2-why {
        width:100%;
        height:260px;
        color: rgb(24,31,41);
        text-align:center;
    }

    section.s4-volunteer {
        width:100%;
        color: black;
        height: 330px;
        clear:both;
        text-align: center;
    }
}

@media screen and (max-width:600px){
    section.s2-why {
        width:100%;
        height:inherit;
        color: rgb(24,31,41);
        text-align:center;
    }

    section.s4-volunteer {
        width:100%;
        color: black;
        height: 400px;
        clear:both;
        text-align: center;
    }
} 

@media screen and (max-width:400px){
    section.s2-why {
        width:100%;
        height:inherit;
        color: rgb(24,31,41);
        text-align:center;
    }

    section.s4-volunteer {
        width:100%;
        color: black;
        height: 450px;
        clear:both;
        text-align: center;
    }

} 